.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px; 
    padding-left: 200px;
    padding-right: 200px;

}
.element {
    display: flex;
    align-items: center;
}
.element__icon {
    font-size: 3rem;
    margin-right: 10px;
    color: #008000;
}
.element__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.element__description {
    font-size: 1rem;
    color: #666;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2.5s ease, transform 2.5s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}
